<div class="product">
  <p><img height="200px" src="<%= @product.image %>"</p>
  <p><h3><%=@product.name %></h3></p>
  <p><%= @product.description %><p>
  <p>$<%= @product.price %><p>
  <br>
  <%= link_to "Back to Home", root_path %>
</div>